@font-face{
	font-family: 'Inter';
	src: url("https://swap.cow.fi/assets/Inter-roman.var-C-r5W2Hj.woff2");
}

.App {
  text-align: center;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.logo{
  height: 40px;
  padding-right: 20px;
}

.eth{
  width: 20px;
  height: 20px;
  padding-right: 10px;

}

.leftH {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightH {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.headerItem {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.headerItem:hover {
  background-color: rgb(34, 42, 58);
  cursor: pointer;
}

.connectButton {
  background-color: #243056; 
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 100px;
  color: #5981F3;
  font-weight: bold;
  transition: 0.3s;
}

.connectButton:hover {
  cursor: pointer;
  color: #3b4874
}

.mainWindow {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.tradeBox {
  width: 400px;
  background-color: #131724;
  /* border: 2px solid #21273a; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
}


.tradeBoxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.cog {
  color: #51586f;
  transition: 0.3s;
}

.cog:hover {
  color: white;
  rotate: 90deg;
  cursor: pointer;
}

.switchButton {
  background-color: #3a4157;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  position: absolute;
  top: 86px;
  left: 180px;
  color: #5F6783;
  border: 3px solid #0E111B;
  font-size: 12px;
  transition: 0.3s
}

.dollarAmount {
  position: absolute;
  top: 75px;
  left: 14px;
  font-size: 10px;
  color: #5F6783;
}

.switchButton:hover {
  color: white;
  cursor: pointer;
}

.inputs {
  position: relative;
}

.assetOne {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 36px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetTwo {
  position: absolute;
  min-width: 50px;
  height: 30px;
  background-color: #3a4157;
  top: 135px;
  right: 20px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  font-size: 17px;
  padding-right: 8px;
}

.assetOne:hover{
  cursor: pointer;
}

.assetTwo:hover{
  cursor: pointer;
}

.assetLogo {
  height: 22px;
  margin-left: 5px;
}

.swapButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222b4b; 
  width: calc(100%);
  height: 55px;
  font-size: 20px;
  border-radius: 12px;
  color: #7d8db9;
  font-weight: bold;
  transition: 0.3s;
  margin-bottom: 16px;
  margin-top: 16px;
}

.swapButton[disabled] {
  background-color: #243056;
  opacity: 0.4;
  color: #5982f39b;
}

.swapButton[disabled]:hover {
  cursor: not-allowed;
  background-color: #243056;
}

.swapButton:hover {
  cursor: pointer;
  background-color: #3b4874
}

.tokenLogo {
  height: 22px;
  width: 22px;
}

.modalContent {
  border-top: 1px solid #363e54;
  /* padding-top: 20px; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.tokenChoice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
  transition: background-color 0.15s ease;
}

.tokenChoice:hover {
  cursor: pointer;
  background-color: #1f2639;
}

.tokenName {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.tokenTicker {
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #787f94;
  
}

.wallet-button{
  background-color:rgb(23, 31, 50) !important;
  border: none !important;
  color: rgb(219, 222, 228) !important;
  font-weight: bold !important;
  transition: 0.3s !important;
  border-radius: 100px !important;
  line-height: 1.5714285714285714;
  font-family: "Montserrat", sans-serif;
}


.dashboard-container{
    width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.dashboard-container2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.marketBox {
	position: relative;
	width: 30%;
	background-color: #131724;
	/* border: 2px solid #21273a; */
	min-height: 400px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 30px;
	padding-right: 30px;
}

.apyBox {
	width: 8%;
	background-color: #131724;
	/* border: 2px solid #21273a; */
	min-height: 400px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 1em;
	margin-right: 1em;;
}
  
  
.marketBoxHeader {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 98%;
  }

.boxDescription{
	top: -2.25em;
	left: -0.001em;
	font-weight: bold;
	position: absolute;
	font-family: 'Montserrat';
}
  
.marketRow:hover{
	background-color: #363e54;
	cursor:pointer;
}


.tab-container {
  width: 300px;
}

.tabs {
  display: flex;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.tab {
  padding: 10px;
  transition: color 0.3s ease;
  color: #363e54;
}

.tab.active {
  color: white; /* Color for the active tab */
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: white; /* Color of the underline */
  transition: transform 0.3s ease, width 0.3s ease;
  transform-origin: left;
}

.content {
  padding: 10px;
}


.infoContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

.leftInfo{
	font-weight: bold;
}

.rightInfo{

	font-family: 'Kanit';
	font-weight: bold;
	color: #bbbbbb;
}

.header{
	background-color: rgb(42, 50, 69);
	border-radius: 100px;
}
.empty{
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  width: 100%;
  flex-grow: 1;
  color: rgb(64, 67, 77);
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: large;

}

.emptyimg{
  color: rgb(64, 67, 77);
}

.infoBox{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.dashboard{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	min-width: 1000px;
	width: 70%;
	max-width: 1200px;
}

.dashboardBox {
	position: relative;
	background-color: #131724;
	/* border: 2px solid #21273a; */
	min-height: 50vh;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
}

.infoBox{
	margin-bottom: 4em;
	margin-top: -1em;
	
	gap: 4em;
}

.box{
	display: flex;
	flex-direction: column;
	align-items: left;
}

.box-name{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	align-items: left;
	font-size: 1.5em;
	font-family: 'Montserrat';
}

.box-content{
	font-size: 3em;
	font-family: 'Kanit';
	width: 100%;
	align-items: left;
	display: flex;
	flex-direction: row0;
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(14, 17, 27);; 
	z-index: 100;
	transition: opacity 0.5s ease-out;
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
	pointer-events: none;
  }


  /* DarkOceanBackground.css */

.landing-container {
	margin: 0;
	padding: 0;
	background-color: rgb(14, 17, 27); /* Dark blue color */
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	position: relative;
  }
  
  #particle-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0; /* Behind other elements */
  }
  
  .particle {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	opacity: 0;
	animation: floatUp linear infinite;
  }
  
  @keyframes floatUp {
	0% {
	  transform: translateY(100vh);
	  opacity: 0;
	}
	10% {
	  opacity: 1;
	}
	100% {
	  transform: translateY(-10vh);
	  opacity: 0;
	}
  }
  
  .myObject {
	position: relative;
	z-index: 1;
	height: 80vh;
	/* No background-color, the object is transparent */
  }
  
  .myObject::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: radial-gradient(circle, rgba(0, 123, 255, 1), rgba(0, 123, 255, 0.3), transparent 60%);
    z-index: -1;
    border-radius: 50%;
  }

.landing-text{
	text-shadow: 0 0 3em rgba(0, 123, 255, 1);
}


.fade-move-in {
	opacity: 0;
	transform: translateY(60px); /* Start 20px below its final position */
	animation: fadeMoveIn 0.5s forwards ease-out;
	animation-delay: 0.5s; /* Delay the animation by 2 seconds */
}

.fade-move-in2 {
	opacity: 0;
	transform: translateY(30px); /* Start 20px below its final position */
	animation: fadeMoveIn 0.5s forwards ease-out;
	animation-delay: 0.75s; /* Delay the animation by 2 seconds */
}

.fade-move-in3 {
	opacity: 0;
	transform: translateY(30px); /* Start 20px below its final position */
	animation: fadeMoveIn 0.5s forwards ease-out;
	animation-delay: 1s; /* Delay the animation by 2 seconds */
}
  
  
@keyframes fadeMoveIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-move-out {
	opacity: 1;
	transform: translateY(0); /* Start from its final position */
	animation: fadeMoveOut 0.5s forwards ease-out; /* Fade out in 0.5s */
	animation-delay: 0.1s; /* Delay the animation by 2 seconds */
}

.fade-move-out2 {
	opacity: 1;
	transform: translateY(0); /* Start from its final position */
	animation: fadeMoveOut2 0.5s forwards ease-out; /* Fade out in 0.5s */
	animation-delay: 0.3s; /* Delay the animation by 2 seconds */
}

.fade-move-out3 {
	opacity: 1;
	transform: translateY(0); /* Start from its final position */
	animation: fadeMoveOut2 0.5s forwards ease-out; /* Fade out in 0.5s */
	animation-delay: 0.4s;
}


@keyframes fadeMoveOut {
	to {
		opacity: 0;
		transform: translateY(-60px); /* Move 60px upwards while fading out */
	}
}

@keyframes fadeMoveOut2 {
	to {
		opacity: 0;
		transform: translateY(-30px); /* Move 60px upwards while fading out */
	}
}

  /* .fade-move-out {
	opacity: 0;
	transform: translateY(-50px);
	transition: opacity 2s ease, transform 2s ease;
  }
   */
  .particle-fade-out {
	opacity: 0;
	transition: opacity 1s ease;
  }
  
  /* Hide the particles */
  .hidden {
	display: none;
  }

  .wallet-button:hover{
    cursor: pointer;
  }


  .migrateBox {
    position: relative;
    background-color: #131724;
    /* border: 2px solid #21273a; */
    min-height: 50vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
  }
  

.migrateBox table{
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	overflow: hidden;
}


.migrateBox td{
	overflow: hidden;
}


.migrateBox th {
	padding: 16px;
}

.migrateBox td{
	font-family: 'Kanit';
	padding: 16px;
	font-size: larger;
}

.migrateBox .selected-row{
	color: white !important;
}
.migrateBox .not-selected {
	color: rgb(100, 100, 100) !important;
}

.migrateBox .not-selected img{
	opacity: 0.3;
}

.migrateBox .selected-row img{
	opacity: 1;
}


.migrateBox td{
	transition:  color 0.3s ease;
}

.migrateBox th{
	transition:  color 0.3s ease;
}

.migrateBox tr:hover{
	cursor: pointer;
	background-color: #363e54;
}

.migrateBox  img{
	transition:  opacity 0.3s ease;
}

.migrateButton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(59, 68, 90, 0.8);
	width: calc(100%);
	height: 55px;
	font-size: 20px;
	border-radius: 12px;
	color: rgb(200, 200, 200);
	font-weight: bold;
	transition: 0.3s;
	margin-bottom: 16px;
	margin-top: 10px;
  }
  
  .migrateButton[disabled] {
	background-color: rgba(59, 68, 90, 0.8);
	opacity: 0.4;
	color: rgb(200, 200, 200);
  }
  
  .migrateButton[disabled]:hover {
	cursor: not-allowed;
	background-color: rgba(59, 68, 90, 0.8);
  }
  
  .migrateButton:hover {
	cursor: pointer;
	background-color: rgba(80, 89, 112, 0.8);
  }
  